@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    padding: 2%;
    font-family: "Sen", sans-serif;
}

#headers-profile{
    display: flex;
    align-items: center;
}

#header-back{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECF0F4;
    border-radius: 50px;
}

#text-header{
    font-size: 17px;
    margin-left: 3vw;
}

#show-profile{
    margin-top: 3vh;
    display: flex;
    align-items: center;
}

#text-show-profile{
    font-weight: bold;
    font-size: 24px;
    margin-left: 8vw;
}

#content-profile{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

#box-option{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.information-user{
    background-color: #F6F8FA;
    padding: 6%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    border-radius: 20px;
}

#img-change-main{
    width: 100px;
    height: 100px;
    background-image: url(./img/img-test.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.first-part{
    display: flex;
    align-items: center;
}

.icon-main{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-item{
    display: flex;   
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.text-item{
    font-size: 16px;
    margin-left: 3vw;
}

.icon-arrow-right{
    width: 4px;
    height: 8px;
    margin-right: 5vw
}

#option-Log-Out{
    width: 100%;
    height: 13vh;
    background-color: #F6F8FA;
    padding: 6%;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

#box-item-Log-Out{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}