@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    padding: 2%;
    font-family: "Sen", sans-serif;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#prima_part_edit{
    display: flex;
    flex-direction: column;
}

#headers-edit-address{
    display: flex;
    align-items: center;
}

#header-back{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECF0F4;
    border-radius: 50px;
}

#text-header{
    font-size: 17px;
    margin-left: 3vw;
}

#main-edit-new-address{
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
}

#box-descripition-address{
    display: flex;
    flex-direction: column;
}

#text_prin_edit_address{
    font-size: 16px;
    font-weight: bold;
}

#text_second_edit_address{
    font-size: 14px;
    margin-top: 1vh;
}

#section_input{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin-top: 3vh;
}

.input_edit_number_both{
    width: 100%;
    height: 9vh;
    background-color: #F0F5FA;
    border-style: none;
    border-radius: 12px;
    padding-left: 5vw;
    color: #121223;
    font-family: "Sen", sans-serif;
}

#favorite-edit-address{
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
}

#text_favorite_address_edit{
    font-size: 16px;
    font-weight: bold;
}

#div_favorite_address{
    display: flex;
    gap: 5vw;
    margin-top: 3vh;
}

.div_favorite{
    display: flex;
    background-color: #F0F5FA;
    padding: 2%;
    align-items: center;
    border-radius: 10px;
}

.text_div_favorite_edit{
    font-size: 14px;
    color: #FB6D3A;
    margin-left: 0.6vw;
    font-weight: bold;
}

#button-edit-address{
    width: 100%;
    height: 10vh;
    border-radius: 12px;
    border-style: none;
    background-color: #FF7622;
    color: white;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    font-family: "Sen", sans-serif;
}