@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    padding: 3%;
    font-family: "Sen", sans-serif;
}

#Personal-Profiles-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-back{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECF0F4;
    border-radius: 50px;
}

#text-profile-header{
    font-size: 17px;
    margin-left: 3vw;
}

#first-part{
    display: flex;
    align-items: center;
}

#text-header-one{
    font-size: 14px;
    color: #FF7622;
    text-decoration: underline #FF7622;
    text-underline-offset: 5px;
}

#show-profile-personal{
    margin-top: 3vh;
    display: flex;
    align-items: center;
}

#text-show-profile-personal{
    font-weight: bold;
    font-size: 24px;
    margin-left: 8vw;
}

#content-personal-profile{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    background-color: #F6F8FA;
    padding: 6%;
    gap: 3vh;
    border-radius: 20px;
}

.box-itens{
    display: flex;
    cursor: pointer;
}

.icon-main{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-text{
    margin-left: 3vw;
}

.second-text-box{
    color: #6B6E82;
}
